<%- include('../partials/header') %>
  <%- include('../partials/nav-driver') %>

  
  <div class="w3-row-padding w3-center" style="margin: 50px 0; ">
    <h1 style="margin-bottom: 70px;">Hello <%= data.driver.fullName %>, Pick your order and Deliver it! </h1>
  
    <div class="w3-col m6">
      <h4 style="font-size: 30px;">Detail Customer</h4>
      
      <div class="container" style="width: 400px; margin-left: 100px;">
        <ul style="list-style-type: none; text-align: left; font-size: 20px; line-height: 40px;">
          <li><strong>Name: </strong><%= data.customer.fullName %></li>
          <li><strong>Email: </strong><%= data.customer.email %></li>
          <li><strong>Phone: </strong><%= data.customer.phone %></li>
          <li><strong>Address: </strong><%= data.customer.address %></li>
        </ul>
        

      </div>
      
    </div>
    <div class="w3-col m6">
      <div style="margin-bottom: 20px; box-sizing: 1px 1px 10px rgba(0,0,0,0.5);">
          <div class="w3-card-4" style="width: 300px;">
              <img src="<%= data.item.imageUrl %>" style="width: 100%;" onclick="onClick(this)" class="w3-hover-opacity">
              <div class="w3-container w3-center">
                  <p><strong><%= data.item.name %> </strong><br> <%= data.item.description %> <br><strong><%= data.item.price %> </strong> </p>
                  
              </div>

              <div style="display:flex ;">
                <a href="/driver/delivering" class="w3-btn" style="width: 100%; background-color: #cc865b; color: black; margin-right: 5px;">Delivering</a>
              
                <a href="/driver/arrived" class="w3-btn" style="width: 100%; background-color: #cc865b; color: black;">Arrived</a>
              </div>

              
          </div>
      </div>
    </div>
        

  </div>

    

</div>

<%- include('../partials/footer') %>
<%# console.log(data)  %> 