<%- include('../partials/header') %>
    <%- include('../partials/nav-customer') %> 

    <div class="w3-container w3-center" style="margin-top: 100px; height: 500px;"> 
        <h1>Thanks for the purchase</h1>
        <p>Here is your courier contact info: </p>

        <ul style="list-style-type: none;">
            <li>Name: <%= driverContact.fullName %></li>
            <li>Phone: <%= driverContact.phone %></li>
        </ul>

        <img src="<%= driverContact.profileUrl %>" alt="">
    
        <a href="/customer/profile%>">Cek Pembelian di Profile</a>
    </div>
    
<% console.log(driverContact) %> 
<%- include('../partials/footer') %>